[submodule "externals/libservice"]
	path = externals/libservice
	url = https://github.com/Melown/libservice.git
[submodule "externals/libglsupport"]
	path = externals/libglsupport
	url = https://github.com/Melown/libglsupport.git
[submodule "externals/libvtsoffscreen"]
	path = externals/libvtsoffscreen
	url = https://github.com/Melown/libvtsoffscreen.git
[submodule "externals/vts-browser-cpp"]
	path = externals/vts-browser-cpp
	url = https://github.com/melowntech/vts-browser-cpp
